#graph-id-graph-wrapper {
  width: 80vw !important;
  height: 80vh !important;
}

svg[name="svg-container-graph-id"] {
  width: 100% !important;
  height: 100% !important;

  & #graph-id-graph-container-zoomable {
    transform: translate(0, 0) !important;
  }
}

/*  create variable  */
:root {
  --bg-img: url("https://cdn.pixabay.com/photo/2020/08/25/00/48/mountains-5515324_640.jpg");
}

#nav-1 {
  background-image: var(--bg-img) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;

  /* add some blur */
  /* filter: blur(1px); */
}
/* https://img.cdn-pictorem.com/uploads/collection/P/PA1NJI6GQG/900_WorldFlag_world-map-146505.png */
#graph {
  /* background-image: url("https://media.istockphoto.com/id/1277827275/vector/new-zealand-map.jpg?s=2048x2048&w=is&k=20&c=0v4fWIpqVmICxkJaku9SvQBG1Pi-3qov5-rLOvdF_y4="); 
  */
  background-image: url("/map_finale.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
